body {
    background-repeat: repeat !important;
    background-attachment: fixed !important;
    background-image: url(/images/background.png) !important;
    background-size: cover !important;
}

.swagger-ui .info hgroup.main a {
  display: none !important;
}

.models {
    display: none !important;
}

.response-col_links {
    display: none !important;
}
